
<form class='sinatra-paypal-form' action="<%= paypal_form_url %>" method="post">
	<input type="hidden" name="cmd" value="_xclick">

	<input type="hidden" name="business" value="<%= settings.paypal.email %>">
	<input type='hidden' name='custom' value='<%= custom_data.to_json %>'>
	<input type="hidden" name="return" value="<%= url(settings.paypal.return_url) %>">
	<input type="hidden" name="notify_url" value="<%= url(settings.paypal.notify_url) %>">

	<% if item.nil? %>
		<input type="hidden" name="item_number" id='paypal-item-number' value="NO_ITEM">
		<input type="hidden" name="item_name" id='paypal-item-name' value="NO_ITEM">
		<input type="hidden" name="amount" id='paypal-amount' value="1.00">
	<% else %>
		<input type="hidden" name="item_number" id='paypal-item-number' value="<%= item.code %>">
		<input type="hidden" name="item_name" id='paypal-item-name' value="<%= item.name || item.code %>">
		<input type="hidden" name="amount" id='paypal-amount' value="<%= item.price %>">
	<% end %>

	<input type="hidden" name="no_shipping" value="1">
	<input type="hidden" name="no_note" value="1">
	<input type="hidden" name="currency_code" value="USD">
	<input type="hidden" name="lc" value="US"> 
	<input type="hidden" name="bn" value="PP-BuyNowBF">
</form>
